<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Новости</title>
</head>
<body>
{% if request.user.is_authenticated %}
    <h3>Добро пожаловать на сайт {{ request.user.username }}</h3>
    <a href="{% url 'logout' %}">Выйти из учётной записи</a>
{% else %}
    <h3>Вы не авторизованы на нашем сайте.</h3>
    <a href="{% url 'login' %}">Войти</a>
{% endif %}
{% if news %}
<ul>
{% for one_news in news %}
  <li>
    <a href="{% url 'new-detail' new_id=one_news.id %}">{{ one_news.title }}</a>
  </li>
{% endfor %}
</ul>
{% else %}
    <p>Новостей нет.</p>
{% endif %}
</body>
</html>
